html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
  }
  
  .joinInnerContainer {
    width: 240px;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    
  }
  
  .heading {


    font-family: Arial, Helvetica, sans-serif;
            background:linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

    
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-image:linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%) 1;

  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background:  linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      font-size: medium;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
 
  
  button:focus {
    outline: 0;
  }

  .pp{
    color: white;
    font-size: 12px;
    font-family: cursive;
  }