@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&family=Roboto&display=swap');

.infoBar {
    display: flex;
    font-family:  cursive;
    color: white;
    align-items: center;
    justify-content: space-between;
    background:  linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
    
  }

  
  .leftInnerContainer h3{
    color: white;
    margin-left: 20px;
  }


  .rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
  }
  
  .onlineIcon {
    /* margin-top: 400%; */
    margin-right: 5%;
  }